@model IEnumerable<AppDevCW2.ViewModels.NotBoughtViewModel>

@{
    ViewData["Title"] = "Not Bought Report";
}

<h1>Not Bought Report</h1>
<p>Displays a list of customers who have not purchased any item in the last 31 days.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastSaleDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastSaleDate)
                </td>
            </tr>
        }
    </tbody>
</table>
