@model IEnumerable<AppDevCW2.ViewModels.OutOfStockViewModel>

@{
    ViewData["Title"] = "Out of Stock Report";
}

<h1>Out of Stock Report</h1>
<p>Displays list of items currently out of stock. Can sort items alphabetically and chronologically. </p>

<div class="float-right" style="margin-bottom: 15px;">
@using (Html.BeginForm("OutOfStockReport", "Report", FormMethod.Get))
{
    <b>Sort: </b> @Html.RadioButton("option", "Name") <label> Name </label> @Html.RadioButton("option", "Date") <label> Date </label> <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="submit" value="Sort" />
}
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemCategory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemCategory)
            </td>
        </tr>
        }
    </tbody>
</table>
