@model IEnumerable<AppDevCW2.ViewModels.ItemStockViewModel>

@{
    ViewData["Title"] = "Item Stock Report";
}

<h1>Item Stock Report</h1>

<form class="form-inline float-right" style="margin-bottom: 15px;">
    @using (Html.BeginForm("StockListReport", "Report", FormMethod.Get))
    {
        <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        <br />
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemCategory)
            </td>
        </tr>
        }
    </tbody>
</table>
