@model AppDevCW2.Models.SaleDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item.itemCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
